/* HTML Full Screen Overlay With Text */
#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 20;
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: #4d76b7;
}

#overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #e0ecff;
    transform: translate(-50%,-50%);
    text-align: center;
}
#overlay-text1 {
    font-size: 20px;
}

#fleminglogo {
    position: relative;
	padding-right: 1%;
	margin: 0;
	width: 100%;
    max-width: 250px;
    padding-top: 1em;
    padding-bottom: 2em;
}

#sourcest {
    font-size: 0.8em;
}

/* Text */
.welcome {
    font-size: 2.5em;
}

#version, #collab{
    font-size: 1.2em;
}

#credits, #functitle{
    font-size: 1.8em;
}

/* Map position */
#map { 
    position: absolute; 
    width:69.5%;
    height: 100%;
    float: left;
}

/* Charts */
rect:hover {
    fill: red;
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 0px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 99;
    display: contents;
    width: 650px;
}

/* Summary statistics */
.highlight:hover {
    background-color: yellow;
}

#rightsidebar {
    float: right;
    width: 30%;
}

/* Styling for recommended/default area buttons */
.btn-group button {
    background-color: #243e60;
    border: 1px;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    float: left;
    position: relative;
    margin-bottom: 0px;
    z-index: 1;
    display: block;
}

#fit-Guelph, #fit-Halifax, #fit-Fredericton {
    width: 23.3%;
}

#fit-previous, #select-bldg {
    width: 15%;
}

/* When screen is smaller than 900px */
@media screen and (max-width: 900px) {
	.btn-group button {
		background-color: #243e60;
		border: 1px;
		color: white;
		padding: 10px 24px;
		cursor: pointer;
		float: none;
		display: block;
		width: 100%;
	}
	.btn-group:after {
		content: "";
		clear: both;
		display: block;
	}
    #fit-Guelph, #fit-Halifax, #fit-Fredericton {
        width: 100%;
    }

    #fit-previous, #select-bldg {
        width: 100%;
}
}

/* When screen is smaller than 400px */
@media screen and (max-width: 400px) {
	.btn-group button {
		background-color: #243e60;
		border: 1px;
		color: white;
		padding: 10px 24px;
		cursor: pointer;
		float: none;
		display: block;
		width: 100%;
	}
	.btn-group:after {
		content: "";
		clear: both;
		display: block;
	}
    #fit-Guelph, #fit-Halifax, #fit-Fredericton {
        width: 100%;
    }

    #fit-previous, #select-bldg {
        width: 100%;
}
}

.btn-group button:not(:last-child) {
    border-right: 1px solid lightgrey;
}

.btn-group button:hover {
    background-color: #1d324d;
}

/* Toggle Data Layers Buttons Styling */
#toggle-menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 10px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}

#toggle-menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#toggle-menu a:last-child {
    border: none;
}

#toggle-menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#toggle-menu a.active {
    background-color: #3887be;
    color: #ffffff;
}
.sumstats {
    margin-right: 8px;
    
}

#toggle-menu a.active:hover {
    background: #3074a4;
}

/* Styling for Summary Statistics Table */
/* based on tables at https://www.w3schools.com/css/css_table.asp */
table {
  font-family: 'Open Sans', sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

table td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
    font-weight: normal;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table h4 {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #243e60;
}

/* Toggle buttons for indicators */
#toggle-group {
	position: absolute;
	display: inline-flex;
	text-align: center;
	border-radius: 18px;
	padding: 10px;
	z-index: 1;
}

#toggle b{
	flex-shrink: 0;
	cursor: pointer;
	color: #595959;
	font-weight: bold;
	font-size: var(--font-size-s);
	padding: 6px 18px;
	border-radius: 18px; /* fully round by default */
	background-color: lightgray;
}

#toggle b:last-child {
	border:none;
}

#toggle b:hover {
	background-color: yellow;
	color: black;
}

#toggle b.active {
	background-color: black;
	color: white;
}

#toggle b.active:hover {
	background-color: #243e60;
	color: white;
}

.legend {
	background-color: #fff;
	border-radius: 3px;
	bottom: 30px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.10);
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding: 10px;
	position: absolute;
	right: 31%;
	z-index: 1;
}

.legend h4 {
	margin: 0 0 10px;
}
 
.legend div span {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-right: 5px;
	width: 10px;
}
